
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var login = {};
        login.username = profile.getEmail();
        login.profileid = profile.getId();
        login.name = profile.getName();
        login.image = profile.getImageUrl();
        console.log(login);

        if (login.name)
        {
            $('#welcome').append("<h1><a href='http://localhost:56602/home?username=" + login.name + "&id=" + login.profileid + "'>Welcome " + login.name + "</a></h1>")
        }

    };

    console.log(document.cookie);
</script>

<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
                <meta name="google-signin-client_id" content="735833674115-8utnfgiuqhpsnf4gt5mtp06okdkr324g.apps.googleusercontent.com">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <div id="welcome"></div>
    </div>
    <div class="col-md-4"></div>
</div>

