@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnsave").click(function () {
            $.ajax(
                {
                    type: "POST", //HTTP POST Method  
                    url: "Home/AddEmployee", // Controller/View   
                    data: { //Passing data  
                        username: $("#username").val(), //Reading text box values using Jquery   
                        password: $("#password").val()
                    }

                });

        });
    }); 

</script>

<div class="row">
    <div class="col-md-4">
        <label>Username : </label><input type="text" name="username" id="username"/>
    </div>
    <div class="col-md-4">
        <label>Password : </label><input type="text" name="password" id="password"/>
    </div>
    <div class="col-md-4">
        <input class="btn-default" id="btnsave" type="button" value="save" />
    </div>
</div>