
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var login = {};
        login.username = profile.getEmail();
        login.profileid = profile.getId();
        login.name = profile.getName();
        login.image = profile.getImageUrl();
        console.log(login);

        if (login.name)
        {
            $('.panel-body').append("<hr><div class='row' align='center'><a href='http://localhost:56602/home?username=" + login.name + "&id=" + login.profileid + "' class='text-center'>Welcome " + login.name + "</a></div>")
        }

    };

    console.log(document.cookie);
</script>

<div class="row">
    <div class="col-sm-4"></div>
                <meta name="google-signin-client_id" content="735833674115-8utnfgiuqhpsnf4gt5mtp06okdkr324g.apps.googleusercontent.com">
    </div>
    <div class="col-sm-4"></div>

    <div class="container">
        <h2>Sign In</h2>
        <div class="panel panel-success">
            <div class="panel-body">
                <span><div class="g-signin2 testing" align="center" data-onsuccess="onSignIn"></div></span>
                <br />
                <div class="row" align="center"><span>OR</span></div>
                <table class="table">
                    <tr align="center">
                        <td align="right">Email</td>
                        <td><input type="text"/></td>
                    </tr>
                    <tr align="center">
                        <td align="right">Password</td>
                        <td><input type="password" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button class="btn-success">Submit</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

