@{
    ViewBag.Title = "Summary";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<meta name="google-signin-client_id" content="735833674115-8utnfgiuqhpsnf4gt5mtp06okdkr324g.apps.googleusercontent.com">
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var userid = getParameterByName('userid');
    

</script>
<style>
    body {
        background-image: url("/Content/Image/pattern-bg.png");
    }
</style>

<body>
    <div class="container" align="center">
        <canvas id="bodyhalfchart"></canvas>
        <canvas id="upperbody"></canvas>
        <canvas id="lowerbody"></canvas>
    </div>
</body>
<script>
        $(document).ready(function () {
            $.ajax({
                url: "/Home/SummaryInformation",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                type: "POST",
                data: JSON.stringify({ userid: userid  }),
                success: function (json) {
                    console.log(json);
                    
                    //piechart
                    var ctx = document.getElementById("bodyhalfchart").getContext('2d');
                    var piechartdata = {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: [0,0],
                                backgroundColor: [
                                    'rgb(235, 204, 255, 1)',
                                    'rgb(115, 14, 222, 1)',
                                ],
                            }],
                            labels: [
                                "Upper Body",
                                "Lower Body",
                            ]
                        },
                        options: {
                            responsive: false
                        }
                    };
                    for (x = 0; x < json.SActivity.length; x++)
                    {
                        if (json.SActivity[x].BodyHalf == "Upper")
                        {
                            piechartdata.data.datasets[0].data[0] += 1;
                        }
                        var lowercounter = 0;
                        if (json.SActivity[x].BodyHalf == "Lower")
                        {
                            piechartdata.data.datasets[0].data[1] += 1;
                        }
                    }
                    var myChart = new Chart(ctx, piechartdata);

                    //UpperBody Radar Chart
                    var radarcanvas = document.getElementById("upperbody").getContext('2d');
                    var upperbodyradardata = {
                        type: 'radar',
                        data: {
                            labels: [],
                            datasets: [{
                                label: "Frequency",
                                backgroundColor: 'rgb(115, 14, 222, 1)',
                                borderColor: 'rgb(115, 14, 222, 1)',
                                pointBackgroundColor: 'rgb(115, 14, 222, 1)',
                                data: []
                            }],
                        },
                        options: {
                            responsive: false,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'UpperBody'
                            },
                            scale: {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }
                    };
                    for (x = 0; x < json.UpperBody.length; x++)
                    {
                        upperbodyradardata.data.labels[x] = json.UpperBody[x];
                        upperbodyradardata.data.datasets[0].data[x] = 0;
                        var counter = 0;
                        for (y = 0; y < json.SActivity.length; y++)
                        {
                            if (json.SActivity[y].BodyPartTarget == json.UpperBody[x])
                            {
                                counter += 1;
                            }
                        }
                        upperbodyradardata.data.datasets[0].data[x] = counter;
                    }
                    var radarchartdisplay = new Chart(radarcanvas, upperbodyradardata);

                    //LowerBody Radar Chart
                    var lowerradarcanvas = document.getElementById("lowerbody").getContext('2d');
                    var lowerbodyradardata = {
                        type: 'radar',
                        data: {
                            labels: [],
                            datasets: [{
                                label: "Frequency",
                                backgroundColor: 'rgb(115, 14, 222, 1)',
                                borderColor: 'rgb(115, 14, 222, 1)',
                                pointBackgroundColor: 'rgb(115, 14, 222, 1)',
                                data: []
                            }],
                        },
                        options: {
                            responsive: false,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'LowerBody'
                            },
                            scale: {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }
                    };
                    for (x = 0; x < json.LowerBody.length; x++) {
                        lowerbodyradardata.data.labels[x] = json.LowerBody[x];
                        lowerbodyradardata.data.datasets[0].data[x] = 0;
                        var counter = 0;
                        for (y = 0; y < json.SActivity.length; y++) {
                            if (json.SActivity[y].BodyPartTarget == json.LowerBody[x]) {
                                counter += 1;
                            }
                        }
                        lowerbodyradardata.data.datasets[0].data[x] = counter;
                    }
                    var lowerradarchartdisplay = new Chart(lowerradarcanvas, lowerbodyradardata);

                },
                error: function () {
                    console.log("ERROR");
                }
            });
    });
</script>
