@{
    ViewBag.Title = "Summary";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="735833674115-8utnfgiuqhpsnf4gt5mtp06okdkr324g.apps.googleusercontent.com">
<style>
    body {
        background-image: url("/Content/Image/pattern-bg.png");
    }
</style>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Home/SummaryInformation",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            type: "POST",
            data: "data",
            success: function (json) {
                console.log(json);
            },
            error: function () {
                console.log("ERROR");
            }
        });
    });

</script>
<body>
    <div class="container">

    </div>
</body>
